*{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 60px;
    font-family: monospace;
}

.content_page{ /*просто отступы элементов внутри страницы*/
    margin: 50px 50px;
    font-size: 18px;
    font-weight: 600;
}

#demo{ /* назначение стиля к js скрипту */
    text-size: 24px;
    color: red;
}