<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h1>{{ title }}</h1> <!--Отображение переменной переданной в jinja2-->
{% for user in users_list %} <!--пример цикла-->
{% if 'Mike' in user %} <!--пример условия-->
{{ user | safe }}<br> <!--если поставить safe то теги из строки будут рендериться ! НО ЭТО МОЖЕТ БЫТЬ ОПАСНО !-->
{% else %}
{{ user }}<br>
{% endif %}
{% endfor %}
<!--ниже пример работы со словарём, а также использование фильтра capitalize, чтоб имена были с заглавной буквы-->
<p>Имя: {{ user1.name | capitalize }} | Возраст: {{ user1.age }} | Город: {{ user1.city }}</p>
<!--Пример фильтра max, также как и в python он находит максимальное число из последовательности-->
<p>Максимальное число из списка: {{ numbers }} - > {{ numbers | max }}</p>
</body>
</html>